.list {
    max-height: var(--container-height);
    border: 2px solid #37392e;
    border-radius: 5px;
    scroll-snap-type: y mandatory;
    overscroll-behavior-y: contain;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-timeline: --listTimeline block;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #eee5e5;
  }
  
  li {
    padding: 20px;
    border-top: 1px solid #ccc;
    scroll-snap-align: start;
  }
  
  li:first-child {
    border: 0;
  }

  .h3 {
    color: #ffffff;
    background: #4FC3A1;
}